<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Welcome</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/index.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="../scripts/index.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Student Supervisor Administration</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#">Page 1</a></li>
            <li><a href="#">Page 2</a></li>
            <li><a href="#">Page 3</a></li>
        </ul>
    </div>
</nav>
<div class="container-fluid">
    <div class="row content">
        <div class="col-sm-3 sidenav">
            <form>
                <h3>Add Student</h3>
                <div class="form-group">
                    <label for="addStudentFirstName">First Name</label>
                    <input type="text" class="form-control" id="addStudentFirstName" placeholder="Enter first name">
                </div>
                <div class="form-group">
                    <label for="addStudentLastName">Last Name</label>
                    <input type="text" class="form-control" id="addStudentLastName" placeholder="Enter last name">
                </div>
                <div class="form-group">
                    <label for="studentEmail">Email address</label>
                    <input type="email" class="form-control" id="studentEmail" placeholder="name@example.com">
                </div>
                <div class="form-group">
                    <label for="populateDropdownCreateStudent"> Appoint Supervisor</label>
                    <select class="form-control" id="populateDropdownCreateStudent">
                        <option>1</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="studentComment">Add comment</label>
                    <textarea id="studentComment" rows="4" cols="50">
                     </textarea>
                </div>
                <button id="cancelAddStudentForm" type="button" class="btn btn-danger pull-right">Cancel</button>
                <button id="btnAddStudent" type="button" class="btn btn-success pull-right">Create</button>
            </form>
            <form>
                <br>
                <br>
                <br>
                <h3>Add Supervisor</h3>
                <div class="form-group">
                    <label for="addSupervisorFirstName">First Name</label>
                    <input type="text" class="form-control" id="addSupervisorFirstName" placeholder="Enter first name">
                </div>
                <div class="form-group">
                    <label for="addSupervisorLastName">Last Name</label>
                    <input type="text" class="form-control" id="addSupervisorLastName" placeholder="Enter last name">
                </div>
                <div class="form-group">
                    <label for="supervisorEmail">Email address</label>
                    <input type="email" class="form-control" id="supervisorEmail" placeholder="name@example.com">
                </div>
                <button id="cancelAddSupervisorForm" type="button" class="btn btn-danger pull-right" onclick="cancelAddStudentForm();">Cancel</button>
                <button id="btnAddSupervisor" type="button" class="btn btn-success pull-right">Create</button>
            </form>
        </div>
        <div class="col-sm-9">
            <h2>List of Students</h2>
            <table class="table" id="searchTable">
                <thead>
                <tr>
                    <th></th>
                    <th scope="col" style="width: 5%">ID</th>
                    <th></th>
                    <th scope="col" style="width: 10%">First</th>
                    <th></th>
                    <th scope="col" style="width: 10%">Last</th>
                    <th></th>
                    <th scope="col" style="width: 30%">Email</th>
                    <th></th>
                    <th scope="col" style="width: 10%">Info</th>
                    <th></th>
                    <th scope="col" style="width: 10%">Update</th>
                    <th></th>
                    <th scope="col" style="width: 10%">Delete</th>
                </tr>
                </thead>
                <tbody id="studentTable">
                </tbody>
            </table>
        </div>
    </div>
</div>
<footer class="container-fluid">
    <p>Student Supervisor Administration</p>
</footer>
</body>
</html>